@import '../../styles/variables';

.twitter-login {
    .button {
        margin-bottom: $spacing-sm;
    }
}

.twitter-login__smallprint {
    color: $dark;
    margin-bottom: $spacing-xs;
    font-size: 0.8rem;
}

.twitter-login__why {
    background: none;
    border: none;
    color: $dark;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0;
    margin-left: $spacing-xs;

    &:hover {
        color: black;
    }
}

.twitter-login__reason {
    color: $dark;
    font-size: 0.8rem;
}
