@import './variables';

html {
  background-color: $light;
}

div {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0 0 $spacing-md 0;

  &:last-child {
    margin-bottom: 0;
  }
}

p {
  margin: 0 0 $spacing-md 0;

  &:last-child {
    margin-bottom: 0;
  }
}
