@import './variables';

html,body,#root {
  background-color: $light;
  height: 100%;
}

div {
  display: flex;
  flex-direction: column;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0 0 $spacing-lg 0;

  &:last-child {
    margin-bottom: 0;
  }
}
