$app-width: 600px;
$desktop-min-width: 600px;

$spacing-lg: 1rem;
$spacing-md: 0.75rem;
$spacing-sm: 0.5rem;
$spacing-xs: 0.125rem;

$light: #eee;
$dark: #444;
$twitter-light: rgba(29, 161, 242, 0.8);
$twitter-dark: rgb(29, 161, 242);
