@import '../../styles/variables';

.app {
  background-color: white;
  flex-direction: column;
  margin: $spacing-lg;
  max-width: 100%;
  padding: $spacing-lg;
  width: $app-width;

  @media (min-width: $desktop-min-width) {
    flex-direction: row;
  }
}

.intro {
  text-align: center;
}

.intro__why {
  margin: auto;
  font-size: 80%;
  color: grey;
}

.intro__hover {
  margin: auto;
  text-align: center;
  font-size: 90%;
}

.app__title {
  flex-direction: row;

  h1 {
    margin: 0 $spacing-sm $spacing-lg 0;
  }

  @media (min-width: $desktop-min-width) {
    flex-direction: column;

    h1 {
      margin: 0;
    }
  }
}

.app__column {
  margin: auto;
}

.app__column:first-child {
  @media (min-width: $desktop-min-width) {
    margin: auto $spacing-lg auto 0;
  }
}

.app__main {
  margin-bottom: $spacing-lg;
}
