@import '../../styles/variables';

.app {
  flex-direction: column;
  max-width: 100%;
  padding: $spacing-lg;

  @media (min-width: $desktop-min-width) {
    flex-direction: row;
  }
}

.app__title {
  flex-direction: row;
  flex-wrap: wrap;

  h1 {
    margin: 0 $spacing-sm $spacing-sm 0;
  }

  @media (min-width: $desktop-min-width) {
    flex-direction: column;

    h1 {
      margin-bottom: 0;
      margin-right: $spacing-lg;
    }
  }
}

.app__content {
  background-color: white;
  margin: auto;
  padding: $spacing-lg;
  max-width: $app-width;
  width: 100%;
}

.app__main {
  padding-bottom: $spacing-lg;
}
